<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>chat</title>
    <script src="https://cdn.socket.io/socket.io-3.0.1.min.js"></script>
  </head>

  <body>
    <h1>Hello</h1>
    <ul id="chat"></ul>

    <!-- CREATION SOCKET -->
    <script src="/socket.io/socket.io.js"></script>
    <script>
      function addMsg(msg) {
        var node = document.createElement("LI");
        var textnode = document.createTextNode(msg);
        node.appendChild(textnode);
        document.getElementById("chat").appendChild(node);
      }
      const socket = io();
      // écoute du socket news
      socket.on("news", function(msg) {
        console.log(msg);
        addMsg(msg);
      });
    </script>

    <!-- FIN CODE SOCKET -->
  </body>
</html>
