<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Chat</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css"
    />
    <script src="https://cdn.socket.io/socket.io-3.0.1.min.js"></script>
    <script src="https://unpkg.com/vue@next"></script>
    <style>
      body {
        min-height: 100vh;
        background: "";
      }
      .msgform {
      }
      .msgbox {
        max-height: 300px;
        overflow-y: scroll;
      }
    </style>
  </head>

  <body>
    <div id="app">
      <nav class="is-info navbar">
        <div class="navbar-start">
          <p class="title p-2">
            Chat 💖🐨
            <span class="tag is-black ">{{nbonline}} Personnes en ligne</span>
          </p>
        </div>
        <div class="navbar-item">
          <div class="navbar-item">
            <span @click="clearMsgs" class="tag is-warning button"
              >Supprimer les messages</span
            >
          </div>
        </div>
      </nav>

      <div id="msgs" class="card content msgbox p-5">
        <div class="messages" v-for="(msg, index) in messages" :key="index">
          <p>
            <span class="tag is-4 mr-2" v-bind:class="msg.color">{{ msg.user }}</span>{{ msg.message
            }}
          </p>
          <hr class="mt-0 mb-0">
        </div>
      </div>
      <div class="box msgform">
        <form @submit.prevent="sendMessage">
          <div class="field control">
            <label for="user">Nom d'utilisateur:</label>
            <input type="text" v-model="user" class="input" :disabled="lockpseudo" />
          </div>
          <div class="field control">
            <label for="message" v-bind:class="message ? '':'is-danger'"
              >Message:</label
            >
            <input type="text" v-model="message" class="input" />
          </div>
          <button type="submit" class="button">Envoyer</button>
        </form>
      </div>
    </div>

    <script>
      const app = {
        el: "#app",

        data() {
          return {
            id: Math.random()
              .toString(36)
              .substr(2, 9),
            user: "",
            message: "",
            messages: [],
            nbonline: 0,
            lockpseudo: false,
            color: "",
            socket: io()
          };
        },
        methods: {
          sendMessage(e) {
            if(!this.message || !this.user)return
            e.preventDefault();
        
            this.socket.emit("SEND_MESSAGE", {
              user: this.user,
              message: this.message,
              color: this.color
            });
            this.message = "";
            this.lockpseudo = true
          },
          clearMsgs(e) {
            e.preventDefault();
            this.messages = [];
          }
        },
        mounted() {
          let colors = ["black","primary","info","danger","warning","link","dark","success"]
          this.color = "is-"+colors[Math.floor(Math.random() * colors.length)]
          
          this.socket.on("NBONLINE", data => {
            this.nbonline = data;
          });

          this.socket.on("MESSAGE", data => {
            this.messages = [...this.messages, data];
            setTimeout(function() {
                var elem = document.getElementById("msgs");
                elem.scrollTop = elem.scrollHeight;
              }, 500);
          });

          this.socket.on("MSGS", data => {
            console.log(this.id, data);
            if (data.id == this.id) {
              this.messages = data.messages;
              setTimeout(function() {
                var elem = document.getElementById("msgs");
                elem.scrollTop = elem.scrollHeight;
              }, 500);
            }
          });

          this.socket.emit("GET_MESSAGES", this.id);
        }
      };

      Vue.createApp(app).mount("#app");
    </script>

    <!-- FIN CODE SOCKET -->
  </body>
</html>
